.main {
    padding-bottom: 20px;
    margin-top: 149px;
    width: 100%;
    height: auto;
}

/* Portada */
.frontPage {
    width: 100%;
    height: 300px;
    background: linear-gradient( var(--colorPortadaTransparent), var(--colorPortadaTransparent)), url(../img/portadas/sofaMobite.jpg );
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: left top;
}

.frontPageText {
    padding: 10px;
    text-shadow: 1px 0px 10px rgb(0, 0, 0, .8);
    /* font-family: 'Comfortaa',cursive; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--colorPortadaText);
    text-align: center;
}

@media screen and (min-width: 600px) {
    .frontPage {
        height: 500px;
        background: linear-gradient( var(--colorPortadaTransparent), var(--colorPortadaTransparent)), url(../img/portadas//CocinaDesktop.png );
        background-size: cover;
        background-position: center;
    }
}

/* Article of the portada */
.articleText {
    margin: 0 auto;
    padding: 30px 10px 60px 10px;
    width: 100%;
    max-width: 1000px;
    height: auto;
    font-family: 'Segoe UI', Arial,  system-ui;
    color: var(--colorTextoDescripcionProyecto);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.articleTextTitle {
    margin-bottom: 15px;
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    color: var(--colorPortadaText);
    letter-spacing: 1.5px;
    font-family: Arial;
}

.frontPage2 {
    background: linear-gradient( var(--colorPortadaTransparent), var(--colorPortadaTransparent)), url(../img/portadas/Baño.png );
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.frontPageText2 {
    font-size: 64px;
}

/* ---- Interior y Exterior ---- */

.containerSuperior {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.containerInterExter {
    display: flex;
    gap: 25px;
}

.figure {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.figure img {
    width: 50px;
}

.figureText {
    padding: 10px;
}

.articleTextSubTitle {
    color: var(--colorText);
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    font-size: 32px;
    font-weight: 600;
    font-family: "Raleway",sans-serif;
}

.figureText p {
    width: 100%;
    font-size: 20px;
    font-family: 'Segoe UI', Arial,  system-ui;
    font-weight: 500;
    color: var(--colorTextoDescripcionProyecto);
    line-height: 1.5em;
}

/* ---- Acordeon ---- */
.acordeonContainerGeneral {
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listContainer {
    width: 100%;
    max-width: 800px;
    font-family: sans-serif;
    font-size: 14px;
}
.btnItem {
    border: 1px solid rgb(102, 102, 102, .3);
    padding: 8px;
    background: var(--colorLinealAcordeon);
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    font-family: "Raleway",sans-serif;
    letter-spacing: 1px;
    color: var(--colorText);
    cursor: pointer;
    transition: background 600ms ease;
}
.btnItem::before {
    content: '\002B';
    padding-right: 10px;
    transition: content 300ms ease;
}
.itemContent {
    font-size: 14px;
    font-family: 'Segoe UI', Arial,  system-ui;
    font-weight: 500;
    color: var(--colorTextoDescripcionProyecto);
    overflow: hidden;
    /* Modificar con otra class */
    padding: 0 8px;
    max-height: 0;
    opacity: 0;
    transition: 
        padding 300ms ease,
        max-height 400ms ease,
        opacity 300ms ease
    ;
}

/* class para agregar con JS */
.active + .itemContent {
    border-top: 0;
    border-bottom: 0;
    border: 1px solid rgba(128, 128, 128, .3);
    padding: 20px 8px;
    max-height: 1000px;
    opacity: 1;
}
.btnItem.active {
    background: rgb(102, 102, 102, .3);
}
.btnItem.active::before {
    content: '\02212';
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    /* ---- Interior y Exterior ---- */
    .articleTextSubTitle {
        padding-bottom: 5px;
        font-size: 23px;
    }
    .figureText p {
        font-size: 16px;
    }

    /* ---- Acordeon ---- */
    .btnItem {
        font-size: 15px;
        letter-spacing: .5px;
    }
}